
/* #region Common*/

    :root {
        --fm-blue: #006cfa;
        --fm-green: #00e165;
    }


    body {
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }

/* #endregion Common*/


[class*="col-"] {
    padding: 1px;
}

.blue {
    background-color: var(--fm-blue);
    color: white;
    text-align: center;
    font-weight: bold;
}

.green {
    background-color: var(--fm-green);
    color: white;
    text-align: center;
    font-weight: bold;
}




